*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
  /* COLOR PRIMARIO */
  --primary-color-rojoBrillante: rgb(242, 95, 58);
  --primary-color-azulOscuro: rgb(35, 44, 81);
  
  /* COLOR NEUTRO */
  --neutral-color-azulGrisáceoOscuro: rgb(143, 148, 167);
  --neutral-color-azulMuyOscuro:rgba(35, 44, 80, 1);

  --neutral-color-rojoMuyPalido: rgb(255, 239, 234);
  --neutral-color-grisClaro: rgb(249, 249, 249);
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
}

/* HEADER */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 150%;
}

nav .lista{
    display: flex;
    display: none;
}
    
header .empezar{
    display: flex;
    display: none;
}

.logo >img{
    padding: 40px 0px 0px 40px;
    width: 120px;
}

.burger >img{
    padding: 35px 20px 0px 0px;
    width: 40px;
}

/* MAIN */

/* Foto */
.estadistica{
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-left: 60px;
    width: 90%;
}

.img-art1{
    display: flex;
    margin-top: 30px;
    margin-left: 115px;
}

/* Titulos */
h1, h2, h3, h4{
    color: var(--primary-color-azulOscuro);
}

h1, h2{
    font-family: Be Vietnam Pro;
    font-weight: bold;
    text-align: center;
}

h1{
    font-size: 35px;
}

.tituloblanco{
    color: white;
    font-size: 43px;
    padding-top: 70px;
    padding-bottom: 30px;
}

h3{
    font-size: 16px;
    background-color: #fdb9a87a;
    border-radius: 30px 0px 0px 30px;
    color: #323851;
    width: 100%;
    padding: 10px;
}

h4{
    text-align: center;
    margin-top: 30px;
}

/* Textos */

.parrafo1{
    font-size: 16px;
    text-align: center;
    color: #B3B2B7;
    padding: 20px 30px 20px 30px;
    line-height: 30px;
}

.enumeracion2{
    font-size: 16px;
    color: #B3B2B7;
    text-align: justify;
    line-height: 25px;
    margin: 20px 30px 30px 40px;
}

.parrafo2{
    font-size: 16px;
    color: #B3B2B7;
    text-align: justify;
    line-height: 25px;
    margin: 20px 30px 30px 40px;
}

.parrafo3{
    font-size: 12px;
    color: #8C8C94;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
}

/* Secciones */

.naranja{
    background-color: #F3613C;
    }

.naranja div{
    display: flex;
    justify-content: center;
}

/* Botones */

main .boton{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

main .empezar{
    display: flex;
    justify-content: center;
    padding: 15px;
    width: 35%;
    background-color: #F3603B;
    color: #FFFFFF;
    font-size: 14px;
    box-shadow: 0px 4px 8px rgb(242 97 59 / 50%);
    border-radius: 50px;
    border: solid 1px #F3603B;
}

main .empezar2{
    margin-bottom: 105px;
    padding: 15px;
    background-color: #FFFFFF;;
    color:  #F3603B;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0px 4px 8px rgb(242 97 59 / 50%);
    border-radius: 50px;
    border: solid 1px #F3603B;
    width: 35%;
}

.enumeracion{
    font-size: 16px;
    padding: 10px 15px;
    margin-left: -9px;
    text-align: center;
    color: #FFFFFF;
    background: #F3603B;
    border-radius: 30px;
}

/* FOOTER */

footer{
    background-color: #1E1E26;
}

/*Imput*/

.email{
    font-size: 13px;
    margin-top: 40px;
    margin-left: 30px;
    width: 60%;
    padding: 10px;
    text-align: start;
    border-radius: 50px;
    border: solid 1px #FFFFFF;
}

.email::placeholder{
    color: #A0A0A0;
}

.go{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    background: #F3603B;
    border-radius: 30px;
    padding: 12px 25px;
    border: none;
}

/* Navegador */

.lista{
    display: flex;
    justify-content: space-evenly;
    color: white;
    gap: auto;
    font-size: 13px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.lista1{
    list-style: none;
    line-height: 30px;
}

.lista2{
    list-style: none;
    line-height: 30px;
}

.blanco{
    color: white;
}

/*Redes*/

.redes{
    display: flex;
    justify-content: space-evenly;
    height: 30px;
    margin-bottom: 50px;
}

.logo2{
    margin-left: 110px;
    padding-top: 20px;
}

/* MQ */

@media screen and (min-width:376px) {
    
    /* HEADER */

    header{
        display: flex;
        align-items:center;
        justify-content: space-between;
        width: 80%;
    }

    .logo >img{
        width: 220px;
        margin-top: 60px;
        margin-left: 100px;
        }
    
    nav .lista{
        display: flex;
        gap: 25px;
        margin-top: 115px;
        padding: 20px 48px 21px 0px;
        }

    .azul{
        color: #242E52;
    }
        
    header .empezar{
        display: flex;
        margin-top: 84px;
        box-shadow: 0px 4px 8px rgb(242 97 59 / 50%);
        border-radius: 50px;
        border: solid 1px #F3603B;
        background-color: #F3603B;
        color: #FFFFFF;
        padding: 15px 20px;
        width: 12%;
        margin-left: 20px;
        }

    .burger >img{
        display: none;
    }

    /* MAIN */

    h1{
        text-align: start;
        font-size: 57px;
        margin-top: 150px;
        margin-left: 140px;
        padding-right: 242px;
        width: 127%;
    }

    h2{
        margin-left: -130px;
    }

    h3{
        background-color: white;
        padding: 10px;
        margin-left: 120px;
        margin-top: -6px;
    }

    .enumeracion{
        padding: 10px 27px;
        margin-left: -34px;
        background: #F3603B;
        border-radius: 30px;
    }

    .enumeracion2{
        color: #B3B2B7;
        text-align: justify;
        line-height: 25px;
        margin: 20px 30px 30px 175px;
        width: 435px;
    }

    .parrafo1{
        color: #000000;
        text-align: start;
        margin-left: 111px;
        margin-right: 88px;
        font-size: 17px;
        width: 61%;
    }

    main .seccion1{
        display: flex;
        justify-content: space-evenly;
    }

    main .boton{
        display: flex;
        justify-content: flex-start;
        margin-left: 27px;
    }

    main .empezar{
        padding: 15px;
        width: 19%;
        background-color: #F3603B;
        color: #FFFFFF;
        font-size: 14px;
        box-shadow: 0px 4px 8px rgb(242 97 59 / 50%);
        border-radius: 50px;
        border: solid 1px #F3603B;
        margin-left: 112px;
    }

    main .estadistica{
        padding-top: 51px;
        height: 650px;
        margin-bottom: 100px;
    }

    main .estadistica2{
        width: 50%;
        order: -1;
    }

    main .seccion2{
        display: flex;
    }

    main .seccion3{
        
        flex-direction: row;
        width: 50%;
    }

    .parrafo2{
        width: 300px;
    }

    .perfiles{
        display: flex;
    }